@model ControleFinanceiro.Models.MovimentacaoEdicaoViewModel

@{
    ViewData["Title"] = "Editar Movimentação";
}

<h3>Editar Movimentação</h3>
<hr />


<form asp-action="Editar" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(x=>x.Codigo)
    @Html.HiddenFor(x=>x.CodigoTipo)
    @if (Model.CodigoParcelamento is null && Model.CodigoMovimentacaoRecorrente is null)
    {
        <div class="mb-2">
            <label asp-for="CodigoTipo" class="control-label"></label>
            <select asp-for="CodigoTipo" class="form-control" asp-items="@Model.Tipos">
                <option selected value="">Selecione um tipo de movimentação</option>
            </select>
            <span asp-validation-for="CodigoTipo" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="CodigoCategoria" class="control-label"></label>
            <select asp-for="CodigoCategoria" class="form-control" asp-items="@Model.Categorias">
                <option selected value="">Selecione uma categoria</option>
            </select>
            <span asp-validation-for="CodigoCategoria" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="CodigoCartao" class="control-label"></label>
            <select asp-for="CodigoCartao" class="form-control" asp-items="@Model.CartoesDePagamento" disabled="@Model.EstadoDoCampoCodigoCartaoDeCredito">
                <option selected value="">Selecione um cartão de pagamento</option>
            </select>
            <span asp-validation-for="CodigoCartao" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <div class="form-check">
                <label asp-for="DespesaFixa" class="form-check-label"></label>
                <input asp-for="DespesaFixa" class="form-check-input" />
            </div>
        </div>
        <div class="mb-2">
            <label asp-for="Descricao" class="control-label"></label>
            <input asp-for="Descricao" class="form-control" />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="DataDaCompra" class="control-label"></label>
            <input asp-for="DataDaCompra" class="form-control" />
            <span asp-validation-for="DataDaCompra" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="DataMovimentacao" class="control-label"></label>
            <input asp-for="DataMovimentacao" class="form-control" disabled />
        </div>
        <div class="mb-2">
            <label asp-for="Valor" class="control-label"></label>
            <input asp-for="Valor" class="form-control" />
            <span asp-validation-for="Valor" class="text-danger"></span>
        </div>
    }
    else if (Model.CodigoParcelamento is not null)
    {
        @Html.HiddenFor(x=>x.CodigoParcelamento)
        <div class="mb-2">
            <label asp-for="CodigoTipo" class="control-label"></label>
            <select asp-for="CodigoTipo" class="form-control" asp-items="@Model.Tipos" disabled>
                <option selected value="">Selecione um tipo de movimentação</option>
            </select>
        </div>
        <div class="mb-2">
            <label asp-for="CodigoCategoria" class="control-label"></label>
            <select asp-for="CodigoCategoria" class="form-control" asp-items="@Model.Categorias" disabled>
                <option selected value="">Selecione uma categoria</option>
            </select>
        </div>
        <div class="mb-2">
            <label asp-for="CodigoCartao" class="control-label"></label>
            <select asp-for="CodigoCartao" class="form-control" asp-items="@Model.CartoesDePagamento" disabled>
                <option selected value="">Selecione um cartão de pagamento</option>
            </select>
        </div>
        <div class="mb-2">
            <label asp-for="Descricao" class="control-label"></label>
            <input asp-for="Descricao" class="form-control" />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="DataDaCompra" class="control-label"></label>
            <input asp-for="DataDaCompra" class="form-control" disabled />
            <span asp-validation-for="DataDaCompra" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="DataMovimentacao" class="control-label"></label>
            <input asp-for="DataMovimentacao" class="form-control" disabled />
        </div>
        <div class="mb-2">
            <label asp-for="Valor" class="control-label"></label>
            <input asp-for="Valor" class="form-control" />
            <span asp-validation-for="Valor" class="text-danger"></span>
        </div>
    }
    else if (Model.CodigoMovimentacaoRecorrente is not null)
    {
        @Html.HiddenFor(x=>x.CodigoMovimentacaoRecorrente)
        <div class="mb-2">
            <label asp-for="CodigoTipo" class="control-label"></label>
            <select asp-for="CodigoTipo" class="form-control" asp-items="@Model.Tipos" disabled>
                <option selected value="">Selecione um tipo de movimentação</option>
            </select>
        </div>
        <div class="mb-2">
            <label asp-for="CodigoCategoria" class="control-label"></label>
            <select asp-for="CodigoCategoria" class="form-control" asp-items="@Model.Categorias" disabled>
                <option selected value="">Selecione uma categoria</option>
            </select>
        </div>
        <div class="mb-2">
            <label asp-for="Descricao" class="control-label"></label>
            <input asp-for="Descricao" class="form-control" />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="DataMovimentacao" class="control-label"></label>
            <input asp-for="DataMovimentacao" class="form-control" disabled />
        </div>
        <div class="mb-2">
            <label asp-for="Valor" class="control-label"></label>
            <input asp-for="Valor" class="form-control" />
            <span asp-validation-for="Valor" class="text-danger"></span>
        </div>
    }
    <div class="mb-3">
        <button class="btn btn-primary">Editar</button>
        <a asp-action="Index" class="btn btn-light">Voltar</a>
    </div>
</form>



